# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub files
**/doc/api/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.xcframework
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!/dev/ci/**/packages_test.dart

# Web
lib/generated_plugin_registrant.dart

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/LocalSettings.properties
**/android/GeneratedPluginRegistrant.java

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Icon?*
**/ios/**/contacts.json
**/ios/**/flutter_root/
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/*.jdb
**/ios/**/*.swp
**/ios/**/*.swo
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# macOS
macos/Flutter/Flutter-Debug.xcconfig
macos/Flutter/Flutter-Release.xcconfig
macos/Flutter/GeneratedPluginRegistrant.swift

# Coverage
coverage/

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Build and release
**/build/
dist/

# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock

# Exceptions
!.flutter-plugins
!.flutter-plugins-dependencies
!.dart_tool/

# Futter/Dart/Pub related private files
.pub-cache/
.pub/

# Generated files
.g.dart
*.g.dart
*.freezed.dart
